#!/bin/bash

# Pull remote container
ENV_NAME="$(basename "$PWD")"
export ENV_NAME
ENV_REPO="https://raw.githubusercontent.com/Krauzer94/distrobox-direnvs/main/${ENV_NAME}.ini"
export ENV_REPO

# Initialize container
distrobox assemble create --file "$ENV_REPO"
distrobox enter "$ENV_NAME"
